/*
*
* @author Washington Júnior
* @version 0.1
*/

/* ********** PALETA DE CORES **********

- Preto: #000000; rgb(0,0,0);
- Branco: #ffffff; rgb(255,255,255);
- Azul: #9bf0e1; rgb(155,240,225);

*/

/* ********** NAVIGATION BAR ********** */

.bg-transparent-black {
  background-color: rgba(0,0,0,0.6);
  padding-top: 15px;
  padding-bottom: 15px;
}

.img-brand {
  width: 141.75px; /* 25% do width original da imagem */
  height: 42.75px; /* 25% do height original da imagem */
}

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link:focus {
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active:hover {
  color: #9bf0e1;
}

.divider {
  width: 1px;
  height: 16px;
  background-color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .divider {
    margin: 10px;
  }
}

/* ********** HEADER ********** */

html, body {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.bg-image {

  /* The image used */
  background: url("../img/header/capas-albuns-cds-musica.png"), url("../img/header/ruido.png"), linear-gradient(50deg, #ff4169, #7c26f8);

  /* Full height */
  min-height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;

  /* Position the image nicely */
  background-position: left top;
  background-repeat: repeat;
  background-size: auto;

  /* Other styling */
  position: relative;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 992px) {
  .bg-image {
    background-attachment: scroll;
  }
}

/* Place text in the middle of the image */
.bg-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  width: 100%;
}

.bg-text h1 {
  font-weight: 900;
  margin-bottom: 50px;
  /* espaçamento entre as letras: <valor-negativo> diminui o espaçamento ; <valor-positivo> aumenta o espaçamento */
  letter-spacing: -0.05em;
}

/* < 768px */
@media screen and (max-width: 767px) {
  .bg-text h1 {
    font-size: 50px;
  }
}

/* md >= 768px */
@media screen and (min-width: 768px) {
  .bg-text h1 {
    font-size: 70px;
  }
}

/* lg >= 992px */
@media screen and (min-width: 992px) {
  .bg-text h1 {
    font-size: 80px;
  }
}

/* xl >= 1200px */
@media screen and (min-width: 1200px) {
  .bg-text h1 {
    font-size: 100px;
  }
}

.bg-text .btn-custom {
  color: #ffffff;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  text-transform: uppercase;
  transition: background 0.4s, color 0.4s;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .bg-text .btn-custom {
    margin-right: 10px;
  }
}

.bg-text .btn-tertiary {
  background-color: #7c25f8;
}

.bg-text .btn-tertiary:hover {
  background-color: #6207e3;
}

.bg-text .btn-outline {
  border: 2px solid #ffffff;
}

.bg-text .btn-outline:hover {
  background-color: #ffffff;
  color: #000000;
}